* {
  margin: 0;
  padding: 0;
}

#main_pic {
  position: absolute;
  margin: 2.5px;
}

#top_part, #footer {
  background-color: grey;
  height: 70px;
  width: 100%;
  border-bottom: 4px solid white;
  color: white;
  float: left;
  text-align: center;
  line-height: 70px;
}

#left-part {
  width: 25%;
  height: 1230px;
  padding: 20px 2.5%;
  background: #39cfed;
  border: 1px solid silver;
  float: left;
  position: relative;
  text-align: center;
}

#footer {
  border-bottom: 0;
  border-top: 4px solid white;
  float: left;
  background: black;
  color: red;
  height: 380px;
}

#main {
  width: 64.3%;
  background: #fafafa;
  border: 1px solid silver;
  padding: 20px 2.5%;
  float: left;
}

#Basket {
  position: fixed;
  top: 740px;
  left: 1390px;
}

.main-link:hover {
  color: blue;
  text-decoration: underline;
  text-decoration-color: green;
  cursor: pointer;
}

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300;1,700;1,900&display=swap');

.Name {
  font-size: 1.4em;
  font-style: normal;
  font-weight: 300;
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  word-spacing: 1px;
  letter-spacing: 5px;
  line-height: 30px;
}
